/*Estilo CSS general*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}

/*Estilo del menu de navegacion*/
header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
}

header nav{
    width: 100%;
    height: 100px;
    background-color: #19100e;
}

nav div{background-color: #19100e;}

a span#title{
    color: #f9f9f9;
    font-weight: 700;
    font-size: 1.1em;
}

a span.menus{
    color: #f9f9f9;
    font-weight: 700;
    font-size: 1.05em;
}

button.btn{
    background-color: #7590ad;
    border: 2px solid #f9f9f9;
    border-radius: 10px;
}

button.navbar-toggler span {
    font-weight: 300;
    color: #f9f9f9;
    font-size: 0.9em;
}

/*estilo para los contenedores padre*/
.containerSection1{background-color: #7590ad;}

.containerSection2{background-color: #e6e8ef;}

section.containerSection1 div h1{
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: #e6e8ef;
    margin-bottom: 15px;
}
section.containerSection2 div h1{
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: #19100e;
}
section.containerSection1 div h3{
    display: flex;
    justify-content: center;
    font-weight: 300;
    color: #e6e8ef;
    margin-top: 15px;
    margin-bottom: 15px;
}
section.containerSection1 hr{
    border: 4px solid #e6e8ef;
    border-radius: 5px;
    width: 300px;
    height: 0px;
    margin: auto;
}
section.containerSection2 hr{
    border: 4px solid #19100e;
    border-radius: 5px;
    width: 300px;
    height: 0px;
    margin: auto;
}

/*estilo elementos generales */
.containerSection2 p{
    margin-top: 25px;
}

#lemaTitulo{
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: #e6e8ef;
    margin-top: 25px;
}

#lema{
    display: flex;
    justify-content: center;
    font-weight: 300;
    color: #e6e8ef;
    margin-top: 15px;
}

.card a{
    color: #19100e;
    text-decoration: none;
}

div#containerCards i{
    font-size: 6em;
    text-align: center;
    color:#19100e;
}

.form-control{
    background-color: #7590ad;
    border: none;
    border-radius: 10px;
    color: #e6e8ef;
    
}

.form-control:focus{
    background-color:#19100e !important;
    color: #e6e8ef;
    box-shadow: 0 0 0 0.25rem #7590ad !important;
}

footer{background-color: #19100e;}

section.containerMBF h5{
    font-weight: 700;
    text-align: center;
}

section.containerMBF p{text-align: center;}

#redesFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.containerF2{
    background-color: #110d0c;
    padding: 20px 0 20px 0;

}
.containerF2 p{
    font-size: 12px;
    font-weight: 300;
    color: #e6e8ef;
    text-align: center;
    margin: 0;
}

#contenedorHijo{
    margin-top: 15px;
}

/*--------------------Estilos CSS para distintas vistas de dispositivos-----------------------*/

/*Vistas móvil */
@media (max-width: 575px){
    .containerMB{
        margin: 0px;
        padding: 25px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
    #menu{
        padding: 0px 25px;
    }
    #fotoHome{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 15px;
        width: 300px;
        height: auto;
    }
    .containerMBF{
        margin: 0px;
        padding-top: 25px;
        padding-bottom: 15px;
        color: #e6e8ef;
        display: flex;
        flex-direction: column;
    }

    section.containerSection1 div h1{
        text-align: center;
    }
    section.containerSection2 div h1{
        text-align: center;
    }
    section.containerSection1 div h3{
        text-align: center;
    }
    .containerSection2 p{
        margin-top: 25px;
        text-align: justify;
    }
    
    #lemaTitulo, #lema{
        text-align: center;
    }
    #containerCards{
        margin-top: 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }
    .card{
        background-color: #e6e8ef;
        margin: 0px 5px 15px 5px;
        text-align: center;
        width: 45%;
        border: none;
        border-radius: 10px;
    }
}

@media (min-width: 576px){
    .containerMB{
        margin: 0px;
        padding: 25px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
    #menu{
        padding: 0px 25px;
    }
    #fotoHome{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 15px;
        width: 300px;
        height: auto;
    }
    .containerMBF{
        margin: 0px;
        padding-top: 25px;
        padding-bottom: 15px;
        color: #e6e8ef;
        display: flex;
        justify-content: space-around;
    }

    section.containerSection1 div h1{
        text-align: center;
    }
    section.containerSection2 div h1{
        text-align: center;
    }
    section.containerSection1 div h3{
        text-align: center;
    }
    .containerSection2 p{
        margin-top: 25px;
        text-align: justify;
    }
    
    #lemaTitulo, #lema{
        text-align: center;
    }
    #containerCards{
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
    }
    .card{
        background-color: #e6e8ef;
        text-align: center;
        margin: 5px;
        width: 25%;
        border: none;
        border-radius: 10px;
    }

}
/* Vistas Tablet */
@media (min-width: 768px){
    .containerMB{
        margin: 0px;
        padding: 40px 100px;
        display: flex;
        flex-direction: column;
    }

    #menu{
        padding: 0px 150px;
    }
    .navbar{
        position: sticky;
    }

    #fotoHome{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 330px;
        height: auto;
    }
    .containerMBF{
        margin: 0px;
        padding-top: 50px;
        padding-bottom: 25px;
        color: #e6e8ef;
        display: flex;
        justify-content: space-around;
    }
    #containerCards{
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
    }
    .card{
        background-color: #e6e8ef;
        margin-left: 10px;
        text-align: center;
        border: none;
        border-radius: 10px;
    }

}

@media (min-width: 992px){
    .containerMB{
        margin: 0px;
        padding: 50px 150px;
        display: block;
        
    }
    #menu{
        padding: 0px 200px;
        
    }
    #navbarNav{
        display: flex;
        justify-content: flex-end;
    }

    #fotoHome{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
        width: 300px;
        height: auto;
    }
    .containerMBF{
        margin: 0px;
        padding-top: 50px;
        padding-bottom: 25px;
        color: #e6e8ef;
        display: flex;
        justify-content: space-around;
    }
    #containerCards{
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
    }
    .card{
        background-color: #e6e8ef;
        margin-left: 10px;
        text-align: center;
        border: none;
        border-radius: 10px;
    }

}

/* Vista Desktop */
@media (min-width: 1200px){
    .containerMB{
        margin: 0;
        padding: 50px 300px;
        display: block;
        
    }
    #contenedorHijo{
        padding: 0px 100px;
    }
    #menu{
        padding: 0px 300px;
        
    }
    #navbarNav{
        display: flex;
        justify-content: flex-end;
    }

    #fotoHome{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 330px;
        height: auto;
    }
    .containerMBF{
        margin: 0px;
        padding-top: 50px;
        padding-bottom: 25px;
        color: #e6e8ef;
        display: flex;
        justify-content: space-around;
    }
    #containerCards{
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
    }
    .card{
        background-color: #e6e8ef;
        margin-left: 10px;
        text-align: center;
        border: none;
        border-radius: 10px;
    }
}